.week-container {
    display: flex;
}

.week-view {
    flex-grow: 1;
    overflow-x: auto;
}

.day-header-container {
    display: flex;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}

.day-columns-container {
    display: flex;
}

.day-column {
    flex: 1;
    border-right: 1px solid #ccc;
}

/* WeekView.css */
.time-slot {
    width: 100%;
    height: 40px; /* Adjust based on your layout */
    border: 1px solid #ccc;
    resize: none; /* Disable resizing */
    overflow: hidden; /* Hide the scrollbar */
    text-align: center;
}

/* WeeklyView.css */
/* WeeklyView.css */
.time-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.hour {
    padding: 5px;
}




/* Adjust the styles of the time indicator within the time-slot if needed */
