.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.project-item-link {
  text-decoration: none;
}

.project-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Madimi One', sans-serif;
}

.project-item.blackboard-background {
  background-image: url('blackboard.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 290px; /* Set a fixed height for the blackboard image */
  padding: 50px; /* Adjust padding as needed */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden; /* Prevent text overflow */
}

.project-item h3,
.project-item p,
.project-item ul {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow */
  white-space: nowrap;
    font-size: 14px; /* Adjust font size as needed */
}


.task-status-counts {
  flex-grow: 0; /* Prevent task status counts from affecting the layout */
}

.button-container {
  position: absolute;
  top: 20%;
  right: 11%;
  display: flex;
  flex-direction: column;
}

.button-container button {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.button-container button img {
  width: 15px;
  height: 15px;
}