.status-title {
  font-family: 'Madimi One', sans-serif;
  font-size: 30px;
  color: #b7a57a;
  background-color: #6f4f86; /* Choose your desired background color */
  padding: 5px; /* Adjust padding as needed */
  border-radius: 20px; /* Optional: Add border-radius for rounded corners */
  display: inline-block; /* Adjust width based on title length */
  margin-bottom: 15px; /* Optional: Add margin to separate it from the ProjectList */
}

.task-board-title {
  display: inline-block;
  margin: 20px;
  padding: 10px; /* Adjust padding as needed */
  font-family: 'Madimi One', sans-serif;
  font-size: 50px;
  background-color: #6f4f86; /* Choose your desired background color */
  border-radius: 20px; /* Optional: Add border-radius for rounded corners */
  color: #b7a57a;
}

.center-title {
  text-align: center;
}

.tasks-report {
  display: none;
   font-family: 'Madimi One', sans-serif;
  margin-top: 15px;
}

.tasks-report.visible {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}