.task-link {
  text-decoration: none;
  color: inherit; /* Use inherit to maintain the default text color */
  transition: box-shadow 0.3s ease; /* Add transition for a smooth effect */
}

.task-link:hover {
  text-decoration: none;
  color: inherit;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Your existing styles for .project-list and .project-item */

.project-item {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

.project-item h3 {
  margin-bottom: 10px;
}

.project-item p {
  margin: 5px 0;
}

.project-item button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.project-item button:hover {
  background-color: #0056b3;
}
